{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>HULK</h1>
        <p>El Dr. </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/hulk.png" alt="hulk" class="img-thumbnail">
    </div>
</div>

{{footer}}